<html>
<head>
    <title>Budget</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/theme.css" />

    <script src="js/Facets.js" type="module"></script>
    <script src="js/SingleValueFacet.js" type="module"></script>

    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h1>Budget</h1>
    <div>
        <a href="/transactions">transactions</a>
    </div>

<div id="facets">
    <single-value-facet title="Date range"
                        name="dateRange"
                        value="LastMonth"
                        options='["Today", "LastSevenDays", "LastMonth", "LastSixMonths", "YearToDate", "LastYear", "LastFiveYears", "All"]'>
    </single-value-facet>

    <single-value-facet title="Date resolution"
                        name="dateResolution"
                        value="Day"
                        options='["Day", "Week", "Month", "Year", "All"]'>
    </single-value-facet>
</div>

<h3>TODO: need a form of some sort. or javascript</h3>

<div id="chart"></div>

    <script src="js/App.js" type="text/javascript"></script>

</body>
</html>