<html>
<head>
    <title>Budget</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/theme.css" />

    <script src="js/Datasources.js"></script>
    <script src="js/Facets.js" type="module"></script>
    <script src="js/SingleValueFacet.js" type="module"></script>
    <script src="js/MultipleValueFacet.js" type="module"></script>
    
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h1>Budget</h1>
    <div>
        <a href="/transactions">transactions</a>
    </div>

    <form id="main" method="get" action="/transactions">
        <div id="facets">
            <single-value-facet title="Date range"
                                name="dateRange"
                                value="LastMonth"
                                options="datasources.dateRange">
            </single-value-facet>

            <single-value-facet title="Date resolution"
                                name="dateResolution"
                                value="Day"
                                options="Day,Week,Month,Year,All">
            </single-value-facet>

            <multiple-value-facet title="Tags"
                                  name="tags"
                                  value="[]"
                                  options="datasources.tags">
            </multiple-value-facet>

            <input type="submit" value="Submit" />
        </div>
    </form>
    
<pre>
TODO:

move towards a richer dataTable
    - want to drill down into individual tx
    - want to be able to change chart types (another facet)
    



</pre>

<div id="chart"></div>

    <script src="js/App.js" type="text/javascript"></script>

</body>
</html>